include *.txt
include pybufr_ecmwf/alt_bufr_tables/*.TXT
include *.py
# this seems to skip clean.py, no idea why
recursive-include ./ *.py
include setup.*
include pybufr_ecmwf/testdata/*.BUFR
include pybufr_ecmwf/expected_test_outputs/Check*
