# this lists the files to be included in the sdist tgz file
# as created by: python setup.py sdist

include *.txt
include *.md
include docs/*.md
include *.sh
include pybufr_ecmwf/alt_bufr_tables/*.TXT
include *.py
include */*.py
include setup.*
include test/expected_test_outputs/*
include test/testdata/*
include additional_fortran_code/*.F
include example_programs/testdata/*.BUFR
include example_programs/expected_test_outputs/Check*
include ecmwf_bufr_lib_sources/*.gz

# dirs to be excluded

# mainly for my own convenience (to run pylint)
prune pylint

# mainly for private build tests, not yet suitable for wider use
# but unfortunately, pruning individual files seems not possible
#prune build_test.py

# very experimental code, not yet functional
prune tools

